<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
   <add name="core" connectionString="user id=sc81areas-user;password=password;Data Source=.\SQL2012;Initial Catalog=Sc81Areas_core" />
   <add name="master" connectionString="user id=sc81areas-user;password=password;Data Source=.\SQL2012;Initial Catalog=Sc81Areas_master" />
   <add name="web" connectionString="user id=sc81areas-user;password=password;Data Source=.\SQL2012;Initial Catalog=Sc81Areas_web" />
   <add name="reporting" connectionString="user id=sc81areas-user;password=password;Data Source=.\SQL2012;Initial Catalog=Sc81Areas_reporting;" />
   
   <add name="analytics" connectionString="mongodb://localhost:27017/Sc81Areas_analytics" />
   <add name="tracking.live" connectionString="mongodb://localhost:27017/Sc81Areas_tracking_live" />
   <add name="tracking.history" connectionString="mongodb://localhost:27017/Sc81Areas_tracking_history" />
   <add name="tracking.contact" connectionString="mongodb://localhost:27017/Sc81Areas_tracking_contact" />
</connectionStrings>